name: water-efficiency-africa
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - jupyterlab
  - ipykernel
  - pillow
  - nodejs
  - pip
  - pip:
      - datasets
